# general
.vscode/settings.json
asset/*test*/**
asset/stdout.txt
asset/stderr.txt
build/**
build_*/**
build-*/**
thirdparty/**
script/*.json
save

# vcpkg + CMake

vcpkg_installed/
vcpkg_installed_*/**
vcpkg_installed_*/**
CMakeCache.txt

# android
local.properties
sign.properties
sign.jks
src/onsyuri_android/.gradle
src/onsyuri_android/.idea/*
src/onsyuri_android/local.properties
src/onsyuri_android/app/cpp/thirdparty/**
src/onsyuri_android/app/.cxx/**
src/onsyuri_android/app/debug/**
src/onsyuri_android/app/release/**
src/onsyuri_android/app/sign.jks
